.products{
  width: 100%;
  height: 140vh;
  padding: 25px 0;
}

.sp{
  margin: 0 35px;
  font-size: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;

  color: white;
 
  
  
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); 

  

}

.products .box{
  width: 100%;
  max-width: 1200px;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;
  display: grid;
  grid-gap: 25px;
}

.products .box .card{
  width: 290px;
  height: 440px;
  box-shadow: 0 0 8px black;
  border-radius: 5px;
  text-align: center;
  padding: 10px 20px;
  background: #f6f6f6;
}

.products .box .card .small_card{
  display: flex;
  flex-flow: column;
  position: absolute;
  margin: 10px 0;
  transform: translateX(-20px);
  transition: 0.3s;
  opacity: 0;
}

.products .box .card:hover .small_card{
  transform: translateX(2px);
  cursor: pointer;
  opacity: 1;
}

.products .box .card .image{
  display: flex;
  align-items: center;
  justify-content: center;
}

.products .box .card .image img{
  width: 130px;
  margin: 15px 0;
  transition: 0.3s;
}

.products .box .card:hover .image img{
  transform: scale(1.1);
}

.products .box .card .small_card i{
  width: 45px;
  height: 45px;
  border-radius: 5px;
  font-size: 18px;
  margin: 2px 0;
  line-height: 40px;
  border: 2px solid #999999;
  transition: 0.2s;
}

.products .box .card .small_card i:hover{
  color: #c72092;
}

.products .box .card .products_text h2{
  font-size: 30px;
  margin-top: 15px;
}

.products .box .card .products_text p{
  color: #91919191;
  line-height: 21px;
  margin: 8px 0;
}

.products .box .card .products_text h3{
  margin: 7px 0;
}

.products .box .card .products_text .products_star{
  color: orange;
  margin-bottom: 19px;
  cursor: pointer;
}

.products .box .card .products_text .butt{
  text-decoration: none;
  padding: 10px 20px;
  background: black;
  color: white;
  border-radius: 80px;
}
.welcome{
  background-color: black;
  border: none;
  padding-left: 1rem;
  align-items: center;
  position: relative;
  width: 90%;
  max-width: 700px;
  display: flex;
  flex-direction: column; 
  color: white;
  text-align: center;
  border-radius: 80px;
  margin: auto auto;
margin-bottom: 35px;
  box-shadow: 0px 15px 20px  black;
}

#companydetails {
  padding: 2rem 1rem;
  background-color: #333;
  color: #fff;
  text-align: center;
  margin-top: 5%;
  padding-bottom: 5px;;
}

#companydetails h2 {
  margin-top: 0;
}

#companydetails p {
  margin-bottom: 2%;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.footer-column {
  flex: 1;
}

.footer-column p {
  margin-top: 0;
}

.footer-column a {
  color: #fff;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
}

.footer-column a:hover {
  color: #ccc;
}

.social-media {
  margin-bottom: 20px;
}

.social-media img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.social-media a:last-child img {
  margin-right: 0;
}

@media only screen and (max-width: 768px) {
  #header {
    flex-direction: column;
    align-items: center;
  }

  #header select {
    margin: 1rem 0;
  }

  #header a {
    margin: 1rem 0;
  }

  #header form {
    flex-direction: column;
    align-items: center;
  }

  #header button[type="submit"] {
    margin: 1rem 0;
  }

  #page input[type="button"] {
    margin-right: 0;
  }

  #foter {
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  #foter img {
    margin: 1rem 0;
  }

  #foter section {
    margin-bottom: 1rem;
  }

  #foter input[type="email"] {
    width: 100%;
  }

  #companydetails {
    padding: 2rem 1rem;
  }

  #companydetails a {
    margin-right: 0;
    margin-bottom: 1rem;
    display: block;
  }
}
